<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
</head>
<body>
   <div layout:fragment="content">

    <div class="container">
	<h3 style="color:#0f0; margin:100px;border: solid 2px #888; text-align: center;padding: 20px; background-color: #00f; "> Sorry, you are not allowed to access this page ! </h3>
	<a class="btn btn-primary" th:href="@{/user/home}">Back to Home Page</a>		

</div>
      
   </div>
</body>
</html>